 /*
DIMENSOES EM PX
MotoMaxx pwa : w 640 h 336;
MotoMaxx firefox : w 640 h 288;
MotoMaxx chrome : w 640 h 280;

Lourenzo Browser : w 980 h 1391;

Felipe PWA: w 598 h 336;

IPAD AIR Safari W 1024 h 704
IPAD AIR APPY w 1024 H 768

 */

 body {
      font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 600px) {
  .card-content {
    line-height: 1.88rem !important;
  }
  .card-content .progress{
    left: 87% !important;
  }
}

   @media screen and (max-width: 650px) {
      html,body,.conteudo,.card-stacked {
         font-size: 0.65em !important;
      }

      .progress{
        height: 38px !important;
        width: 38px !important;
        left: 88% !important;
        top: 7% !important;
      }
   }

   
   @media screen and (min-height: 300px) {
      html,body,.conteudo,.card-stacked {
         font-size: 0.86em !important;
      }

      .progress{
        height: 40px !important;
        width: 40px !important;
        left: 88% !important;
        top: 6% !important;
      }

      .progressbar-text{
        font-size: 1.3rem !important;
      }

      .tituloFilme{
        font-size: 1.1rem !important;
      }
   }

   @media screen and (min-width: 1024px) {
    html,body,.conteudo,.card-stacked {
         font-size: 1.56em !important;
      }
      .card-content {
        line-height: 3.6rem !important;
      }
      .progress {
          height: 60px !important;
          width: 60px !important;
          left: 88% !important;
          top: 5% !important;
      }
      .progressbar-text {
          font-size: 1.6rem !important;
      }
  }

   html,body,.tela,.bx-wrapper,.bx-viewport,.conteudo,.card-stacked {
    height: 100% !important;
    font-size: 100%;
}

.bx-viewport{
  position: fixed !important;
}

.bx-wrapper{
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.bx-wrapper .bx-viewport{
box-shadow: 0 0 0 0 !important;
border: none !important;
left: 0 !important;
background: #fff;
transform: translatez(0);
}

#container { display:block; }
/*
@media only screen and (orientation:portrait){
  #container {  
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (orientation:landscape){
  #container {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}
*/
.chat-form { display: none; }

#container{
  width: 100%;
  height: 100% !important;
}

.tituloFilme{
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.5rem;
  color: #C64832;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

.card-content h2{
  font-family: "Roboto";
  font-size: 0.9rem;
  line-height: 0;
  font-weight: bold;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.card-content{
  font-family: "Roboto";
  font-size: 1.1rem;
  line-height: 2.2rem;
  position: relative;
}

.card-content p{
  margin-bottom: 0.3rem !important;
}

.card .card-action{
  border: none !important;
}

.round{
  border-radius: 32px;
}

.round img{
  border-radius: 32px 0 0 32px !important;  
}

.conteudo {
  margin-left: 0;
  margin-top: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
}

.conteudo .horizontal{
  height: 90%;
  width: 90%;
  left: 5%;
  top: 3%;
}

.star{
  width: 10%;
}

.progress{
  height: 100px;
  width: 100px;
  background: none !important;
  position: absolute;
  left: 89%;
  top: 4%;
}

.conteudo:before {
content: "&nbsp";
background-repeat: no-repeat;
background-size: 61% 100%;
background-color: #F00;
display: block;
position: fixed;
left: -10%;
right: 0;
z-index: -1;
-webkit-filter: blur(11px);
-moz-filter: blur(11px);
-o-filter: blur(11px);
-ms-filter: blur(11px);
filter: blur(11px);
height: 70%;
top: -10%;
height: 115%;
}


.batman.ativo:before{
  background-image: url("../img/joker.jpg");
}

.squad.ativo:before{
  background-image: url("../img/squad.jpg");
  z-index: 0;
}
